@font-face {
  font-family: "CenturyGothicRegular";
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot");
  src: url("../fonts/CenturyGothicRegular/CenturyGothicRegular.eot?#iefix")format("embedded-opentype"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.woff") format("woff"), url("../fonts/CenturyGothicRegular/CenturyGothicRegular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}

body {
  font-family: "CenturyGothicRegular";
}

ul {
  padding: 0;
}

.wrapper {
  position: relative;
  height: 100%;
  height: 100vh;
  max-height: 100%;
  max-height: 100vh;
  max-width: 100%;
}

.main-bg{
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  max-width: 100%;
  min-width: 100%;
  z-index: -1;
}

.main-menu-btn {
  display: inline-block;
  margin: 60px 0 0 20px;
  border: 3px solid #fff;
  padding: 15px 15px 15px 50px;
  color: #fff;
  text-transform: uppercase;
  background: url('../images/icons/menu.png') no-repeat 10px center;
  font-size: 24px;
  border-radius: 10px;
  outline: none;
  -webkit-box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.75);
}

.main-icons-kit .main-icon {
  display: inline-block;
  position: absolute;
  cursor: pointer;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.main-icons-kit .main-logo {
  left: 0;
  right: 0;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  cursor: initial;
}

.main-icons-kit .icon-bio {
  left: 25%;
  top: 20%;
}

.main-icons-kit .icon-socio {
  right: 25%;
  top: 20%;
}

.main-icons-kit .icon-techno {
  left: 25%;
  bottom: 20%;
}

.main-icons-kit .icon-person {
  right: 25%;
  bottom: 20%;
}

.main-icons-kit .icon-day-night {
  top: 50%;
  left: 10%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background: url(../images/icons/dn.png) no-repeat;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.75);
}

.main-icons-kit .icon-phone {
  top: 50%;
  right: 10%;
  transform: translateY(-50%);
  width: 70px;
  height: 70px;
  background: url(../images/icons/phone.png) no-repeat;
  border-radius: 50%;
  -webkit-box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.75);
  box-shadow: 0px 0px 39px -10px rgba(0, 0, 0, 0.75);
}

.main-icons-kit figure {
  text-align: center;
}

.main-icons-kit figcaption {
  text-align: center;
  text-transform: uppercase;
  color: #fff;
}


/*------------footer------------*/

.footer-bg {
  position: absolute;
  width: 100%;
  bottom: 0;
  background: rgba(0, 0, 0, 0.6);
  transition: 1s;
  z-index: 100;
}

.footer-info {
  padding: 20px;
  color: #fff;
  text-align: center;
  font-weight: normal;
}

.footer-info h2 {
  font-weight: normal;
}

.overlay {
  background: rgba(0, 0, 0, 0.6);
  position: absolute;
  height: 100%;
  width: 100%;
  left: 0;
  top: 0;
  display: none;
  z-index: 99;
}


/*----main menu------*/
.main-menu {
  position: absolute;
  text-align: center;
  border: 20px solid #fff;
  border-radius: 50%;
  height: 420px;
  width: 420px;
  font-size: 32px;
  color: #fff;
  box-sizing: border-box;
  right: 0;
  margin: 0 auto;
  top: 50%;
  transform: translateY(-50%);
  display: none;
  left:-100px;
  opacity: 0;
  z-index: 100;
}

.close-main-menu {
  position: absolute;
  top: -68px;
  right: -57px;
  font-size: 60px;
  display: inline-block;
  cursor: pointer;
  color: #fff;
  z-index: 100;
}

/*.snt-right-animate {
  left: -150px;
  opacity: 0;
  transition: 1s;
}

.snt-left-animate {
  left: 0;
  opacity: 1;
  transition: 1s;
}*/

.main-menu ul {
  padding: 0;
}

.main-menu ul li {
  list-style-type: none;
}

.main-menu li a {
  color: #fff;
}

/*----END main menu------*/